

.button-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}


@media (max-width:480px){
    .teaser{
        display: none;
    }

    .button-container{
        margin-top:1rem;
    }
}