
.list-group-item{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    width:100%;
    padding:1rem 0;
}

.task-text{
    font-family: 'Helvetica';
    font-size:1.2rem;
    padding:0 2rem;
    min-width:200px;
}

input[type="checkbox"]{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    appearance: none;
    width:35px;
    height:35px;
    border:1px solid lightgrey;
    transition:all 0.225s ease-in-out;
    position:relative;
}

input[type="checkbox"]:checked{
    background-color:#c128e5;;
}


input[type="checkbox"]:checked::after {
    content: '\2714'; 
    font-size: 25px;
    color: lime;
    position: absolute;
}

.striked-through{
    text-decoration: line-through;
}

.trash{
    display:flex;
    justify-content: center;
    align-items:center;
    min-width:50px;
    padding:0 1rem;
}

@media (max-width:680px){
    .task-text{
        padding:0 1rem;
    }
}


@media (max-width:600px){
    .task-text {
        min-width:unset;
    }

    .status {
        display: none;
    }

    .list-group-item{
        justify-content: space-between;
    }
}