.container{
    margin-top:2rem;
}

.new-task-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.task-input{
    width:100%;
    font-size:1.2rem;
    padding: 0.5rem 0;
    margin-right:2rem;
    border:1px solid lightgrey;
    outline:none;
}



@media (max-width:480px){
    .new-task-container{
        flex-direction: column;
    }

    .task-input{
        margin-right:unset;
    }

    .custom-btn{
        margin-top:2rem;
    }
}